.container {
    display: flex;
    height: 100vh;
}

/* Left side */
.input-section {
    flex: 1;
    padding: 20px;
    background-color: #d32323;
}

/* Right side */
.output-section {
    flex: 2;
    padding: 20px;
    background-color: #fff;
}


form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 70%;
}

button {
    margin-left: 0px;
    width: 70%;   /*length*/
    padding: 10px; /*Thickness*/
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

/* Ingredient list  */
#ingredient-list {
    list-style: none;
    padding: 0;
}

#ingredient-list li {
    padding: 5px 0;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
}

.ingredient-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#ingredient-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#ingredient-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
